<?xml version="1.0" encoding="utf-8"?>
    <manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.utfpr.amiltonjr.revisaoautomotiva">

        <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
            <activity android:name="com.utfpr.amiltonjr.revisaoautomotiva.ManutencoesActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
            <activity android:name="com.utfpr.amiltonjr.revisaoautomotiva.ManutencaoActivity"
                android:parentActivityName="com.utfpr.amiltonjr.revisaoautomotiva.ManutencoesActivity">
                <!-- Parent activity meta-data to support 4.0 and lower -->
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.utfpr.amiltonjr.revisaoautomotiva.ManutencoesActivity" />
            </activity>
            <activity android:name=".VeiculoActivity"
                android:parentActivityName="com.utfpr.amiltonjr.revisaoautomotiva.VeiculosActivity">
                <!-- Parent activity meta-data to support 4.0 and lower -->
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.utfpr.amiltonjr.revisaoautomotiva.VeiculosActivity" />
            </activity>
            <activity android:name=".VeiculosActivity"
                android:parentActivityName="com.utfpr.amiltonjr.revisaoautomotiva.ManutencoesActivity">
                <!-- Parent activity meta-data to support 4.0 and lower -->
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.utfpr.amiltonjr.revisaoautomotiva.ManutencoesActivity" />
            </activity>
        </application>

    </manifest>